{% extends 'layout.html' %}
{% load static %}
{% block title %}
Политика конфиденциальности
{% endblock %}
{% block li %}
<li><a class="Top_menu_game" href={% url 'games' %}>Игры</a></li>
<li><a class="Top_menu_blog" href={% url 'blog' %}>Блог</a></li>
<li><a class="Top_menu_about" href={% url 'about' %}>О нас</a></li>
{% endblock %}
{% block link %}
	<link rel="stylesheet" href={% static 'css/privacy_policy.css' %}>
{% endblock %}
{% block content %}
<div class="main_box">
ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
Последнее изменение: 29 июля 2022 г.

AP KEFIR LTD («Кефир», «нас», «мы» или «наш») управляет веб-сайтами, играми и мобильными приложениями («Сервис»).

Эта страница информирует вас о нашей политике в отношении сбора, использования и раскрытия персональных данных при использовании вами нашего Сервиса, а также о вариантах выбора, связанных с этими данными.

Мы используем ваши данные для предоставления и улучшения Сервиса. Используя Сервис, вы соглашаетесь на сбор и использование информации в соответствии с этой политикой. Если иное не определено в настоящей Политике конфиденциальности, термины, используемые в настоящей Политике конфиденциальности, имеют те же значения, что и в наших Условиях.

ОПРЕДЕЛЕНИЯ
Услуга

Сервис означает веб-сайты и мобильные приложения, управляемые Kefir.

Личные данные

Персональные данные означают данные о живом человеке, которого можно идентифицировать по этим данным (или по той и другой информации, которая либо находится в нашем распоряжении, либо может оказаться в нашем распоряжении).

Данные об использовании

Данные об использовании — это данные, собираемые автоматически либо при использовании Сервиса, либо из самой инфраструктуры Сервиса (например, продолжительность посещения страницы).

Печенье

Файлы cookie — это небольшие фрагменты данных, хранящиеся на вашем устройстве (компьютере или мобильном устройстве).

Контроллер данных

Контроллер данных означает физическое или юридическое лицо, которое (самостоятельно или совместно или совместно с другими лицами) определяет цели и способ обработки любой личной информации. Для целей настоящей Политики конфиденциальности мы являемся контролером ваших личных данных.

Обработчики данных (или поставщики услуг)

Обработчик данных (или Поставщик услуг) — любое физическое или юридическое лицо, которое обрабатывает данные от имени Контроллера данных. Мы можем использовать услуги различных поставщиков услуг для более эффективной обработки ваших данных.

Субъект данных (или пользователь)

Субъект данных — любое живое физическое лицо, использующее наш Сервис и являющееся субъектом Персональных данных.

СБОР И ИСПОЛЬЗОВАНИЕ ИНФОРМАЦИИ
Мы собираем несколько различных типов информации для различных целей, чтобы предоставлять и улучшать наш Сервис для вас.

ТИПЫ СОБИРАЕМЫХ ДАННЫХ
Личные данные
При использовании нашего Сервиса мы можем попросить вас предоставить нам определенную личную информацию, которая может быть использована для связи или идентификации вас («Личные данные»). Личная информация может включать, но не ограничивается:

Адрес электронной почты

Имя и фамилия

Ваши сообщения в Службу (например, журналы чата и заявки в службу поддержки)

Другие данные, которые вы решите предоставить нам (например, данные для определения вашей проблемы с Сервисом или идентификации потерянной учетной записи).

Файлы cookie и данные об использовании

Данные об использовании
Мы также можем собирать информацию, которую ваш браузер отправляет всякий раз, когда вы посещаете наш Сервис или когда вы получаете доступ к Сервису с мобильного устройства или через него («Данные об использовании»).

Эти данные об использовании могут включать в себя такую ​​информацию, как адрес интернет-протокола вашего компьютера (например, IP-адрес), тип браузера, версия браузера, страницы нашего Сервиса, которые вы посещаете, время и дата вашего посещения, время, проведенное на этих страницах, уникальный идентификаторы устройств и другие диагностические данные.

Когда вы получаете доступ к Сервису с мобильного устройства или через него, эти Данные об использовании могут включать такую ​​информацию, как тип используемого вами мобильного устройства, уникальный идентификатор вашего мобильного устройства, IP-адрес вашего мобильного устройства, ваша мобильная операционная система, тип используемый вами мобильный интернет-браузер, уникальные идентификаторы устройств и другие диагностические данные.

Мы также создаем для вас собственный идентификатор, когда вы пользуетесь Сервисом.

Отслеживание данных файлов cookie
Мы используем файлы cookie и аналогичные технологии отслеживания, чтобы отслеживать действия в нашем Сервисе и хранить определенную информацию.

Файлы cookie — это файлы с небольшим объемом данных, которые могут включать анонимный уникальный идентификатор. Файлы cookie отправляются в ваш браузер с веб-сайта и сохраняются на вашем устройстве. Также используются технологии отслеживания, такие как маяки, теги и сценарии для сбора и отслеживания информации, а также для улучшения и анализа нашего Сервиса.

Вы можете указать своему браузеру отказаться от всех файлов cookie или указать, когда файл cookie отправляется. Однако, если вы не принимаете файлы cookie, вы не сможете использовать некоторые части нашего Сервиса.

Примеры файлов cookie, которые мы используем

Сеансовые файлы cookie. Мы используем сеансовые файлы cookie для работы нашего Сервиса.

Файлы cookie предпочтений. Мы используем файлы cookie предпочтений, чтобы запомнить ваши предпочтения и различные настройки.

Файлы cookie безопасности. Мы используем файлы cookie безопасности в целях безопасности.

Рекламные файлы cookie. Рекламные файлы cookie используются для предоставления вам рекламы, которая может иметь отношение к вам и вашим интересам.

Сторонние данные
Данные мы получаем от наших партнеров. Эти данные могут включать информацию, которую мы получаем, если вы связываете стороннюю службу (например, Facebook, Google) с Сервисом, информацию с платформ, на которых работает Сервис (например, для проверки платежей), информацию для рекламных и аналитических целей.

ИСПОЛЬЗОВАНИЕ ДАННЫХ
Kefir использует собранные данные для различных целей:

Для предоставления и обслуживания нашего Сервиса

Чтобы уведомить вас об изменениях в нашем Сервисе

Чтобы позволить вам участвовать в интерактивных функциях нашего Сервиса, когда вы решите это сделать

Для обеспечения поддержки клиентов

Для сбора анализа или ценной информации, чтобы мы могли улучшить наш Сервис.

Для мониторинга использования нашего Сервиса

Для обнаружения, предотвращения и устранения технических проблем

ПРАВОВАЯ ОСНОВА ДЛЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ В СООТВЕТСТВИИ С ОБЩИМИ ПРАВИЛАМИ ЗАЩИТЫ ДАННЫХ (GDPR)
Если вы находитесь в Европейской экономической зоне (ЕЭЗ), правовая основа Kefir для сбора и использования личной информации, описанная в настоящей Политике конфиденциальности, зависит от собираемых нами личных данных и конкретного контекста, в котором мы их собираем.

Kefir может обрабатывать ваши Персональные данные, потому что:

Нам нужно выполнить контракт с вами

Обработка отвечает нашим законным интересам и не нарушает ваши права.

Для целей обработки платежей

Нам нужно выполнить контракт с вами

Соблюдать закон

ХРАНЕНИЕ ДАННЫХ
Kefir будет хранить ваши Персональные данные только до тех пор, пока это необходимо для целей, изложенных в настоящей Политике конфиденциальности. Мы будем хранить и использовать ваши Персональные данные в объеме, необходимом для выполнения наших юридических обязательств (например, если мы обязаны хранить ваши данные в соответствии с действующим законодательством), разрешать споры и обеспечивать соблюдение наших юридических соглашений и политик.

Kefir также сохраняет Данные об использовании для целей внутреннего анализа. Данные об использовании обычно хранятся в течение более короткого периода времени, за исключением случаев, когда эти данные используются для усиления безопасности или улучшения функциональности нашего Сервиса, или когда мы по закону обязаны хранить эти данные в течение более длительных периодов времени.

ПЕРЕДАЧА ДАННЫХ
Ваша информация, включая Персональные данные, может передаваться и храниться на компьютерах, расположенных за пределами вашего штата, провинции, страны или другой государственной юрисдикции, где законы о защите данных могут отличаться от законов вашей юрисдикции.

Ваше согласие с настоящей Политикой конфиденциальности, за которым следует предоставление такой информации, означает ваше согласие на эту передачу.

Kefir предпримет все разумно необходимые шаги для обеспечения безопасного обращения с вашими данными в соответствии с настоящей Политикой конфиденциальности, и никакая передача ваших личных данных не будет осуществляться организации или стране, если не будут приняты надлежащие меры контроля, включая безопасность ваших данных. данные и другую личную информацию.

РАСКРЫТИЕ ДАННЫХ
Раскрытие информации для правоохранительных органов

При определенных обстоятельствах от Kefir может потребоваться раскрытие ваших Персональных данных, если это требуется по закону или в ответ на действительные запросы государственных органов (например, суда или государственного учреждения).

Правовые требования

Kefir может раскрывать ваши Персональные данные, добросовестно полагая, что такое действие необходимо:

Чтобы выполнить юридическое обязательство

Для защиты и защиты прав или собственности Кефира

Чтобы предотвратить или расследовать возможные правонарушения в связи с Сервисом

Для защиты личной безопасности пользователей Сервиса или общественности

Для защиты от юридической ответственности

БЕЗОПАСНОСТЬ ДАННЫХ
Чтобы помочь обеспечить безопасность ваших данных, мы разрабатываем и внедряем административные, технические и физические меры безопасности для защиты ваших данных от несанкционированного доступа или от потери, неправильного использования или изменения.

Безопасность ваших данных важна для нас, но помните, что ни один метод передачи через Интернет или метод электронного хранения не является безопасным на 100%. Хотя мы стремимся использовать коммерчески приемлемые средства для защиты ваших Персональных данных, мы не можем гарантировать их абсолютную безопасность.

СИГНАЛЫ «НЕ ОТСЛЕЖИВАТЬ»
Мы не поддерживаем функцию «Не отслеживать» («DNT»). «Не отслеживать» — это параметр, который вы можете установить в своем веб-браузере, чтобы информировать веб-сайты о том, что вы не хотите, чтобы вас отслеживали.

Вы можете включить или отключить функцию «Не отслеживать», посетив страницу «Настройки» или «Настройки» вашего веб-браузера.

Вы можете отказаться от рекламы на основе интересов в мобильных приложениях, проверив настройки конфиденциальности своего устройства Android или iOS и выбрав «ограничить отслеживание рекламы» (Apple iOS) или «отказаться от рекламы на основе интересов» (Android).

ВАШИ ПРАВА НА ЗАЩИТУ ДАННЫХ В СООТВЕТСТВИИ С ОБЩИМИ ПРАВИЛАМИ ЗАЩИТЫ ДАННЫХ (GDPR)
Если вы являетесь резидентом Европейской экономической зоны (ЕЭЗ), у вас есть определенные права на защиту данных. Kefir стремится предпринять разумные шаги, чтобы вы могли исправить, изменить, удалить или ограничить использование ваших Персональных данных.

Если вы хотите получить информацию о том, какие Персональные данные о вас хранятся у нас, и если вы хотите, чтобы они были удалены из наших систем, свяжитесь с нами.

При определенных обстоятельствах у вас есть следующие права на защиту данных:

Право на доступ, обновление или удаление имеющейся у нас информации о вас.

Когда это возможно, вы можете получить доступ, обновить или запросить удаление ваших Персональных данных. Для выполнения этих действий, пожалуйста, свяжитесь с нами, чтобы помочь вам.

Право исправления. Вы имеете право на исправление вашей информации, если эта информация является неточной или неполной.

Право на возражение. Вы имеете право возражать против обработки нами ваших Персональных данных.

Право ограничения. Вы имеете право потребовать, чтобы мы ограничили обработку вашей личной информации.

Право на переносимость данных. Вы имеете право на получение копии имеющейся у нас информации о вас в структурированном, машиночитаемом и широко используемом формате.

Право отозвать согласие. Вы также имеете право отозвать свое согласие в любое время, когда Kefir полагался на ваше согласие на обработку вашей личной информации.

Обратите внимание, что мы можем попросить вас подтвердить свою личность, прежде чем отвечать на такие запросы.

Вы имеете право подать жалобу в орган по защите данных в отношении сбора и использования нами ваших личных данных. Для получения дополнительной информации обратитесь в местный орган по защите данных в Европейской экономической зоне (ЕЭЗ).

ПОСТАВЩИКИ УСЛУГ
Мы можем нанимать сторонние компании и отдельных лиц для содействия нашему Сервису («Поставщики услуг»), для предоставления Сервиса от нашего имени, для оказания услуг, связанных с Сервисом, или для оказания нам помощи в анализе того, как используется наш Сервис.

Эти третьи стороны имеют доступ к вашим Персональным данным только для выполнения этих задач от нашего имени и обязаны не раскрывать и не использовать их для каких-либо других целей.

АНАЛИТИКА
Мы можем использовать сторонних поставщиков услуг для мониторинга и анализа использования нашего Сервиса.
Гугл Аналитика

Google Analytics — это служба веб-аналитики, предлагаемая Google, которая отслеживает и сообщает о трафике веб-сайта. Google использует собранные данные для отслеживания и мониторинга использования нашего Сервиса. Эти данные передаются другим службам Google. Google может использовать собранные данные для контекстуализации и персонализации рекламы своей собственной рекламной сети.

Для получения дополнительной информации о политике конфиденциальности Google посетите веб-страницу условий конфиденциальности Google: http://www.google.com/intl/en/policies/privacy .

Девтодев

Devtodev — сервис аналитики.

Мы также рекомендуем вам ознакомиться с политикой devtodev для защиты ваших данных: https://www.devtodev.com/policy

Яндекс.Метрика

AppMetrica — аналитический сервис, предоставляемый YANDEX, Oy.

Мы также рекомендуем вам ознакомиться с политикой AppMetrica по защите ваших данных: https://yandex.ru/legal/confidential.

AppsFlyer

AppsFlyer — это аналитический сервис, предоставляемый AppsFlyer Ltd.

Мы также рекомендуем вам ознакомиться с политикой AppsFlyer по защите ваших данных: https://www.appsflyer.com/privacy-policy.

Юнити Аналитика

Unity Analytics предоставляется Unity Technologies.

Мы также рекомендуем вам ознакомиться с политикой Unity Technologies по защите ваших данных: https://unity3d.com/legal/privacy-policy.

Продукты Facebook

Продукты Facebook предоставляются компаниями Facebook, Inc. и Facebook Ireland Ltd.

Мы также рекомендуем вам ознакомиться с политикой Facebook по защите ваших данных: https://www.facebook.com/privacy/explanation.

РЕКЛАМА
Мы можем использовать сторонних поставщиков услуг, чтобы показывать вам рекламу, чтобы поддерживать и обслуживать наш Сервис.

AdMob от Google

AdMob от Google предоставляется Google Inc.

Вы можете отказаться от службы AdMob от Google, следуя инструкциям, описанным Google: https://support.google.com/ads/answer/2662922?hl=en .

Для получения дополнительной информации о том, как Google использует собранную информацию, посетите страницу «Как Google использует данные, когда вы используете сайты или приложения наших партнеров»: http://www.google.com/policies/privacy/partners или посетите страницу конфиденциальности. Политика Google: http://www.google.com/policies/privacy

AppLovin

AppLovin предоставляется корпорацией AppLovin.

Если вы хотите отказаться от службы AppLovin, посетите страницу отказа AppLovin: https://www.applovin.com/optout

Если вы хотите узнать больше об AppLovin, посетите страницу Политики конфиденциальности AppLovin: https://www.applovin.com/privacy .

Единая реклама

Unity Ads предоставляется Unity Technologies.

Если вы хотите узнать больше о Unity Ads, посетите страницу Политики конфиденциальности Unity Technologies: https://unity3d.com/legal/privacy-policy .

ПОВЕДЕНЧЕСКИЙ РЕМАРКЕТИНГ
Kefir использует услуги ремаркетинга для рекламы на сторонних веб-сайтах после того, как вы посетили наш Сервис. Мы и наши сторонние поставщики используем файлы cookie для информирования, оптимизации и показа рекламы на основе ваших прошлых посещений нашего Сервиса.

Google AdWords

Служба ремаркетинга Google AdWords предоставляется компанией Google Inc.

Вы можете отказаться от Google Analytics для медийной рекламы и настроить рекламу в контекстно-медийной сети Google, посетив страницу настроек рекламы Google: http://www.google.com/settings/ads .

Google также рекомендует установить надстройку браузера Google Analytics Opt-out — https://tools.google.com/dlpage/gaoptout — для вашего веб-браузера. Надстройка браузера Google Analytics Opt-out предоставляет посетителям возможность запретить сбор и использование их данных службой Google Analytics.

Для получения дополнительной информации о политике конфиденциальности Google посетите веб-страницу условий конфиденциальности Google: http://www.google.com/intl/en/policies/privacy .

Твиттер

Услуга ремаркетинга в Твиттере предоставляется компанией Twitter Inc.

Вы можете отказаться от рекламы Twitter на основе интересов, следуя их инструкциям: https://support.twitter.com/articles/20170405.

Вы можете узнать больше о методах и политике конфиденциальности Twitter, посетив страницу их Политики конфиденциальности: https://twitter.com/privacy.

Фейсбук

Услуга ремаркетинга Facebook предоставляется компаниями Facebook Inc. и Facebook Ireland Ltd.

Вы можете узнать больше о рекламе на основе интересов от Facebook, посетив эту страницу: https://www.facebook.com/help/164968693837950

Чтобы отказаться от рекламы Facebook на основе интересов, следуйте этим инструкциям Facebook: https://www.facebook.com/help/568137493302217 .

Facebook придерживается принципов саморегулирования поведенческой онлайн-рекламы, установленных Альянсом цифровой рекламы. Вы также можете отказаться от Facebook и других участвующих компаний через Альянс цифровой рекламы в США http://www.aboutads.info/choices , Альянс цифровой рекламы Канады в Канаде https://youradchoices.ca или европейский Альянс интерактивной цифровой рекламы в Европе http://www.youronlinechoices.eu или откажитесь от участия в настройках своего мобильного устройства.

Для получения дополнительной информации о методах конфиденциальности Facebook, пожалуйста, посетите Политику данных Facebook: https://www.facebook.com/privacy/explanation

СЛУЖБА ПОДДЕРЖКИ
Kefir использует сторонние службы поддержки клиентов для обеспечения поддержки клиентов в рамках Сервиса.

Helpshift

Служба поддержки клиентов Helpshift, предоставляемая Helpshift, Inc.

Вы можете узнать больше о методах и политике конфиденциальности Helpshift, посетив страницу их политики конфиденциальности: https://www.helpshift.com/legal/privacy .

Зендеск

Служба поддержки клиентов Zendesk, предоставляемая Zendesk, Inc.

Вы можете узнать больше о методах и политиках конфиденциальности Zendesk, посетив страницу их Политики конфиденциальности: https://www.zendesk.com/company/customers-partners/privacy-policy .

ПЛАТЕЖИ
Мы можем предоставлять платные продукты и/или услуги в рамках Сервиса. В этом случае мы используем сторонние службы для обработки платежей (например, платежные системы).

Мы не будем хранить или собирать данные вашей платежной карты. Эта информация предоставляется непосредственно нашим сторонним платежным системам, чье использование вашей личной информации регулируется их Политикой конфиденциальности. Эти платежные системы придерживаются стандартов, установленных PCI-DSS и управляемых Советом по стандартам безопасности PCI, который является совместным усилием таких брендов, как Visa, Mastercard, American Express и Discover. Требования PCI-DSS помогают обеспечить безопасную обработку платежной информации.

Платежные системы, с которыми мы работаем:

Платежи в приложении Apple Store

С их Политикой конфиденциальности можно ознакомиться по адресу https://www.apple.com/legal/privacy/en-ww.

Платежи в приложениях Google Play

С их Политикой конфиденциальности можно ознакомиться по адресу https://www.google.com/policies/privacy.

ССЫЛКИ НА ДРУГИЕ САЙТЫ
Наш Сервис может содержать ссылки на другие сайты, которыми мы не управляем. Если вы нажмете на стороннюю ссылку, вы будете перенаправлены на сайт этой третьей стороны. Мы настоятельно рекомендуем вам ознакомиться с Политикой конфиденциальности каждого сайта, который вы посещаете.

Мы не контролируем и не несем ответственности за содержание, политику конфиденциальности или практику любых сторонних сайтов или служб.

КОНФИДЕНЦИАЛЬНОСТЬ ДЕТЕЙ
Наш Сервис не предназначен для лиц моложе 18 лет («Дети»).

Мы сознательно не собираем личную информацию от лиц моложе 18 лет. Если вы являетесь родителем или опекуном и знаете, что ваш Ребенок предоставил нам Персональные данные, свяжитесь с нами. Если нам станет известно, что мы собрали Личные данные детей без проверки согласия родителей, мы предпримем шаги для удаления этой информации с наших серверов.

ИЗМЕНЕНИЯ В НАСТОЯЩЕЙ ПОЛИТИКЕ КОНФИДЕНЦИАЛЬНОСТИ
Мы можем время от времени обновлять нашу Политику конфиденциальности. Мы сообщим вам о любых изменениях, опубликовав новую Политику конфиденциальности на этой странице.

Мы сообщим вам об этом по электронной почте и/или в виде заметного уведомления в нашем Сервисе до того, как изменение вступит в силу, и обновим «дату вступления в силу» в верхней части настоящей Политики конфиденциальности.

Вам рекомендуется периодически просматривать настоящую Политику конфиденциальности на предмет любых изменений. Изменения настоящей Политики конфиденциальности вступают в силу с момента их публикации на этой странице.

СВЯЗАТЬСЯ С НАМИ
Если у вас есть какие-либо вопросы об этой Политике конфиденциальности, свяжитесь с нами по электронной почте: privacy@kefirgames.com
</div>
{% endblock %}
